# ROM files & binary patches (legal & clean repository)
*.vb
*.bin
*.ips

# Logs & temp
*.log
logs/
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
server/
