# ROMs et patches binaires (préservation légale)
*.vb
*.bin
*.ips
*.xdelta

# Logs et caches
*.log
logs/
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS / Éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
server/
